:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.layout {
  /* width: 85%; */
  margin: 0 auto;
}

.header {
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: solid 3px black;
  margin-bottom: 35px;
}

.header .logo {
  flex-grow: 2;
  display: flex;
}

.header .logo span {
  display: block;
  font-size: 70px;
  font-weight: bolder;
  margin-top: -10px;
}

.header .logo h3 {
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.header nav {
  flex-grow: 1;
}

.header nav ul {
  display: flex;
  height: 132px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

.header .active,
.header a:hover {
  color: #fa4529;
}

.footer {
  min-height: 50px;
  line-height: 7px;
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  border-top: 3px solid black;
  padding-top: 45px;
  background: #f5f5f5;
  color: #444;
}

.content {
  height: 500px;
}


.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 50px;
  margin-bottom: 0px;
}

.home strong {
  color: #fa4529;
}

.home h2{
color:gray;
font-weight: lighter;
}

.home a {
  background: #fa4529;
  text-decoration: none;
  color: white;
  padding: 7px;
  border-radius: 10px;
  transition: all 300ms;
}




.page .heading,
.home .heading {
  font-size: 40px;
  font-weight: 500;
  color: black;
  font-style: italic;
  margin-bottom: 0px;
}

.page .heading {
  font-size: 55px;
  font-weight: bold;
}

.home p {
 color:gray;
}
  
input[type="text"],
textarea
 {
  display: block;
  padding: 15px;
  margin-top: 25px;
  width: 250px;
}

input[type="submit"], button {
  background: #fa4529;
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
  transition: all 300ms;
  font-size: 16px;
  border: 0px;
  margin-top: 15px;
  cursor: pointer;
}

.home a:hover, input[type="submit"]:hover, button:hover {
  background-color: rgb(111, 222, 111);
}